.my-app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my-app h1{
  margin-top: 20px;
  font-size: 2em;
}
.my-app main {
  position: relative;
  width: 90%;
  max-width: 400px;
  flex:1;
  margin: 20px auto;
  padding: 10px 16px;
  background-color: #f1f1f1;
}


.my-app .setting-item{
  line-height: 2em;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.my-app .setting-item label{
  flex: 1;
  display: inline-flex;
}
.my-app .setting-item input{
  flex: 1;
  margin-left: 10px;
  padding: 4px;
  font-size: 16px;
}
.my-app .operation-button{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: 80%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.my-app .realtime-timer{
  position: relative;
  height: 100%;
  width: 100%;
}

.my-app .info-item{
  line-height: 2em;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 20px;
}

.my-app .info-item.info-item-setting{
  font-size: 16px;
}

.my-app .info-item .use-time{
  display: inline-block;
  width: 55px;
}

.my-app .info-item.info-item-breath-status {
  font-size: 30px;
  font-weight: bold;
}

.my-app .info-item.info-item-duration{
  font-size: 120px;
}

.my-app .operation-button-stop{
  background-color: #f44336;
}
.my-app .info-item-switch{
  font-size: 20px;
  opacity: 0.8;
  color: #666;
}

.my-app .exercise-summary{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #666;
}